:root {
  --title_clr: #4e5150;
  --title_products_clr: #4e5150;
  --price_products_clr: #f2994a;

  --gray1_clr: #333333;
  --gray2_clr: #4f4f4f;
  --gray3_clr: #828282;
  --gray4_clr: #bdbdbd;
  --gray5_clr: #e0e0e0;
  --gray6_clr: #f2f2f2;

  --web_font: 'Poppins';
}

body {
  font-family: var(--web_font, sans-serif);
  margin: 0;
  padding: 2em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title_clr);
  text-align: left;
}
img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
}
input {
  background-color: transparent;
  outline: 0;
  color: var(--gray3_clr);
  font-size: 0.75rem;

  /* Custom style  */
  border: 1px solid var(--gray3_clr);
  border-radius: 0.75em;
  padding: 0.8em 0 0.8em 2.5em;
  margin-bottom: 0.5em;
}
label {
  font-size: 0.625rem;
  color: var(--gray2_clr);
}

main {
  padding: 0 0.5em;
}
/* Card Product Section */
.card_products {
  background-color: var(--gray6_clr);
  border-radius: 0.75rem;
  display: flex;
  /* place-items: center; */
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.products_image {
  display: flex;
  width: 40%;
  max-width: 15.625rem;
  height: 8.75rem;
  background-color: red;
  border-radius: 0.75rem;
}
.show_products {
  display: flex;
  gap: 2em;
  width: 90%;
  height: 100%;
}
.products_info {
  width: 60%;
}
.products_name {
  color: var(--title_products_clr);
  font-size: 0.75rem;
  margin: 0;
}
.products_price {
  font-size: 0.875rem;
  color: var(--price_products_clr);
}
.products_price span {
  text-decoration: line-through;
  color: var(--title_products_clr);
  margin-left: 1em;
}
.product_count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 122px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--gray3_clr);
  border-radius: 0.75rem;
  margin-top: 2em;
}
.rect {
  background-color: var(--gray5_clr);
  color: var(--gray3_clr);
  border-radius: 0.3rem;
  width: 23px;
  display: flex;
  place-content: center;
}
.number_count {
  color: var(--gray1_clr);
}
.product_detail {
  width: 85%;
}
.product__shipping {
  border-top: 1px solid var(--gray4_clr);
  display: flex;
  justify-content: space-between;
}

/* Form Checkout Section */
form {
  width: 85%;
  margin-top: 1em;
}
.form__contact_information {
  display: flex;
  flex-direction: column;
}
.form__title_section {
  font-size: 0.875rem;
}
.wrap_icon_input {
  position: relative;
  margin: 10px 0;
}
.icon_input {
  position: absolute;
  top: 0.3em;
  left: 0.5em;
  height: 100%;
}
.form_input {
  width: 100%;
}
.fa-solid {
  color: var(--gray3_clr);
}
.wrap_container {
  width: 100%;
  display: flex;
  gap: 3em;
  padding: 0 0.5em 0 0;
}
.wrap_checkbox {
  display: flex;
  align-items: center;
}
